


<body >
  <div class="data-scroll-container" >
    <div data-scroll-section>
        <section class="loginwrapper">
            <div class="main-container">
                <div class="loginmargin">
                    <div class="row logincenters">
                        <!-- Left Side with Logo and Image -->
                        <div class="col-lg-6 mt-5">
                          <div class="loginlogo">
                              <img src="assets/images/logo.png" alt="Malabar Cements Logo">
                          </div>
                          <img src="assets/images/bg-01.png" class="img-fluid" alt="Background Image">
                      </div>

                        <!-- Right Side with Form -->
                        <div class="col-lg-6">
                            <div class="loginright">
                                <div class="logintop">
                                    <div class="loginbtm">
                                        <div class="wewrap">
                                            <div class="wetext">
                                                <h3>Welcome to Malabar Cements <br> Attendance Management System</h3>
                                                <!-- <h5>Need an account? <a href="">Sign Up</a></h5> -->
                                            </div>
                                        </div>

                                        <h2  class="text-danger">Reset Password</h2>

                                        <h6 *ngIf="viewtype=='pass'" class="text-success">Please Enter New Password</h6>
                                        <h6 *ngIf="viewtype=='email'" class="text-success">Enter your Registered Email To Recieve OTP</h6>
                                        
                                        <h6 *ngIf="viewtype=='otp'" class="text-success">Enter OTP Recieved In Your Registered Email</h6>
                                       
                                        <div *ngIf="viewtype=='email'" class="banner-form mt-2">
                                          <div class="float-group ">
                                            <input
                                                class="name-box"  
                                                name="Email"
                                                [(ngModel)]="Email"
                                                required
                                                type="text"
                                                placeholder="Email"
                                            >
                                            <label class="float-label">Email</label>
                                        </div>
                                        </div>
                                        <div *ngIf="viewtype=='otp'" class="banner-form mt-2">
                                      
                                          <div class="float-group ">
                                            <input
                                                class="name-box"  
                                                name="Otp"
                                                [(ngModel)]="otp"
                                                required
                                                type="text"
                                                placeholder="OTP"
                                            >
                                            <label class="float-label">OTP</label>
                                        </div>
                                     
                                            <!-- Form with Angular ngSubmit -->
                                            
                                        </div>
                                        <div *ngIf="viewtype=='pass'" class="banner-form mt-2">
                                          <div class="float-group ">
                                            <input
                                                class="name-box"  
                                                name="Passnew"
                                                [(ngModel)]="Passnew"
                                                required
                                                type="text"
                                                placeholder="New Password"
                                            >
                                            <label class="float-label">New Password</label>
                                        </div>
                                        <div class="float-group ">
                                          <input
                                              class="name-box"  
                                              name="cpass"
                                              [(ngModel)]="cpass"
                                              required
                                              type="text"
                                              placeholder="Confirm Password"
                                          >
                                          <label class="float-label">Confirm Password</label>
                                      </div>
                                     
                                            <!-- Form with Angular ngSubmit -->
                                            
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <button class="btn btn-outline-success active  w-100" >Submit</button>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


</body>

