// body {
//     height: 200vh; /* Extend for scrolling during testing */
//     margin: 0;
//     padding: 0;
//     overflow-y: auto;
//   }
  
//   .form-container {
//     margin-top: 100px;
//   }
  
//   input,
//   textarea {
//     display: block;
//     margin-bottom: 20px;
//     width: 100%;
//     padding: 10px;
//   }


// .loginlogonew{
//     width: 800px;
//     height: 100px;
// }

.radio-group {
    display: flex;
    gap: 20px; /* space between radio options */
    align-items: center;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }