

<!-- <div class="login-container">

  <div class="screen">
    <div class="screen__content">
      <div class="logo-area">
        <img src="assets/images/logo.png" alt="">
      </div>
      <form class="login">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" name="username" [(ngModel)]="Username" placeholder="User name / Email">
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" name="password  " [(ngModel)]="Password" placeholder="Password">
        </div>
        <button (click)="Submit()" class="button login__submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>				
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>		
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>		
  </div>
</div> -->



<body style="background-color: #f8fcff;">
  <div class="data-scroll-container" >
    <div data-scroll-section>
        <section class="loginwrapper">
            <div class="main-container">
                <div class="loginmargin">
                    <div class="row logincenters">
                        <!-- Left Side with Logo and Image -->
                        <div class="col-lg-6 mt-5">
                            <div class="loginlogo">
                                <!-- <img src="assets/images/rvknew.jpg"  alt="Malabar Cements Logo"> -->
                            </div>
                            <img src="assets/images/bg-01.png" class="img-fluid" alt="Background Image">
                        </div>

                        <!-- Right Side with Form -->
                        <div class="col-lg-6">
                            <div class="loginright">
                                <div class="logintop">
                                    <div class="loginbtm">
                                        <div class="wewrap">
                                            <div class="wetext">
                                                <h3>Welcome to <br> Finance Management System</h3>
                                                <!-- <h5>Need an account? <a href="">Sign Up</a></h5> -->
                                            </div>
                                        </div>

                                        <h2>Log In</h2>
                                        <div class="row">
                                            <!-- <div class="col-6">
                                              
                                              <div class="form-check">
                                                <input
                                                
                                                class="form-input-check"
                                                  type="radio"
                                                  name="mode"
                                                  [(ngModel)]="Mode"
                                                  value="Transaction"> Transaction
                                              </div>
                                              </div> -->
                                              <div class="col-6">
                                                  <div class="form-check">
                                                    <input
                                                    id="flexCheckChecked1"
                                                    class="form-check-input"
                                                      type="radio"
                                                      name="mode"
                                                      [(ngModel)]="Mode"
                                                      value="Transaction"> 
                                                      <label class="form-check-label" for="flexCheckChecked1">
                                                          Transaction
                                                        </label>
                                                  </div>
                                              </div>
                                            <div class="col-6">
                                              <div class="form-check">
                                                <input
                                                id="flexCheckChecked"
                                                class="form-check-input"
                                                  type="radio"
                                                  name="mode"
                                                  [(ngModel)]="Mode"
                                                  value="Reports"> 
                                                  <label class="form-check-label" for="flexCheckChecked">
                                                      Report
                                                    </label>
                                              </div>
                                          </div>
                                          <br>
                                            </div>
                                        <div class="banner-form ">
                                            <!-- Form with Angular ngSubmit -->
                                            <form (ngSubmit)="Submit()" action="#" method="post">
                                                <br>
                                                <div class="float-group">
                                                    <input
                                                        class="name-box"
                                                        name="username"
                                                        [(ngModel)]="Username"
                                                        required
                                                        type="text"
                                                    >
                                                    <label class="float-label">Username*</label>
                                                </div>

                                                <div class="float-group">
                                                    <input
                                                     
                                                        class="name-box select"
                                                        name="password"
                                                        [(ngModel)]="Password"
                                                        required
                                                        type="password"
                                                    >
                                                    <label class="float-label">Password*</label>
                                                </div>
                                             
                                                  

                                                  <div class="float-group" *ngIf="Mode === 'Transaction' && SectionList.length > 0">
                                                    <select name="sct" id="sct" class="name-box select" [(ngModel)]="SelectedSection" (change)="OnSectionSelection($event)"> 
                                                      <option value="0">Select a Section</option>
                                                      <option [value]="items.SCT_ID" *ngFor="let items of SectionList">{{items.SCT_NAME}}</option>
                                                    </select>
                                                    <label class="float-label">Section*</label>
                                                  </div>
                                              
                                                  <div class="float-group" *ngIf="Mode === 'Transaction' && CounterList.length > 0">
                                                    <select name="sct1" id="sct1" class="name-box select" [(ngModel)]="SelectedCounter" (change)="OnSectionSelection($event)"> 
                                                      <option value="0">Select a Counter</option>
                                                      <option [value]="items.COUNTER_ID" *ngFor="let items of CounterList">{{items.COUNTER_NAME}}</option>
                                                    </select>
                                                    <label class="float-label">Counter*</label>
                                                  </div>

                                                <!-- <div class="float-group" *ngIf="SectionList.length>0">
                                                    <select name="sct" id="sct" class="name-box select" [(ngModel)]="SelectedSection" (change)="OnSectionSelection($event)"> 
                                                        <option value="0">Select a Section</option>
                                                        <option [value]="items.SCT_ID" *ngFor="let items of SectionList">{{items.SCT_NAME}}</option>
                                                    </select>
                                                    <label class="float-label">Section*</label>
                                                </div>
                                                <div class="float-group" *ngIf="CounterList.length>0">
                                                    <select name="sct1" id="sct1" class="name-box select" [(ngModel)]="SelectedCounter" (change)="OnSectionSelection($event)"> 
                                                        <option value="0">Select a Counter</option>
                                                        <option [value]="items.COUNTER_ID" *ngFor="let items of CounterList">{{items.COUNTER_NAME}}</option>
                                                    </select>
                                                    <label class="float-label">Counter*</label>
                                                </div> -->

                                                <div class="row">
                                                  <div class="col-lg-6">
                                                      <div class="form-group check-area cpoint">
                                                          <input type="checkbox" class="cpoint" 
                                                          (click)="RememberMe($event)" [(ngModel)]="rememberme" id="terms" name="terms"
                                                              required="">
                                                          <p  for="terms" > <a> Remember me </a></p>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6">
                                                      <div class="forgot cpoint">
                                                          <a (click)="ChangeConfig()" >Configuration?</a>
                                                      </div>
                                                  </div>
                                              </div>

                                                <button type="submit" *ngIf="SectionList.length==0">Login</button>
                                                <!-- <button (click)="continue()" *ngIf="SectionList.length>0">Continue</button> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="js/jquery-3.2.1.slim.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script> -->

  <!-- Wow -->
  <!-- <script type="text/javascript" src="js/wow.js"></script>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const inputs = document.querySelectorAll('.banner-form input, .banner-form select');

          inputs.forEach(input => {
              input.addEventListener('focus', function () {
                  this.previousElementSibling.style.opacity = '1';
              });

              input.addEventListener('blur', function () {
                  if (this.value === '') {
                      this.previousElementSibling.style.opacity = '0';
                  }
              });
          });
      });


  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const inputs = document.querySelectorAll('.banner-form input, .banner-form select');

          inputs.forEach(input => {
              input.addEventListener('focus', function () {
                  this.previousElementSibling.style.opacity = '1';
              });

              input.addEventListener('blur', function () {
                  if (this.value === '') {
                      this.previousElementSibling.style.opacity = '0';
                  }
              });
          });
      });


  </script> -->
</body>

