@import url('../../../assets/report/assets/css/style.css');
.card-scroll-wrapper {
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  
  .card-scroll-row {
    display: flex;
    flex-wrap: nowrap;
  }
