@font-face {
    font-family: 'PlusJakartaSansVariableFont_wght';
    src: url('../fonts/PlusJakartaSansVariableFont_wght.eot');
    src: url('../fonts/PlusJakartaSansVariableFont_wght.eot') format('embedded-opentype'),
        url('../fonts/PlusJakartaSansVariableFont_wght.woff2') format('woff2'),
        url('../fonts/PlusJakartaSansVariableFont_wght.woff') format('woff'),
        url('../fonts/PlusJakartaSansVariableFont_wght.ttf') format('truetype'),
        url('../fonts/PlusJakartaSansVariableFont_wght.svg#PlusJakartaSansVariableFont_wght') format('svg');
}

@font-face {
    font-family: 'PlusJakartaSansExtraBold';
    src: url('../fonts/PlusJakartaSansExtraBold.eot');
    src: url('../fonts/PlusJakartaSansExtraBold.eot') format('embedded-opentype'),
        url('../fonts/PlusJakartaSansExtraBold.woff2') format('woff2'),
        url('../fonts/PlusJakartaSansExtraBold.woff') format('woff'),
        url('../fonts/PlusJakartaSansExtraBold.ttf') format('truetype'),
        url('../fonts/PlusJakartaSansExtraBold.svg#PlusJakartaSansExtraBold') format('svg');
}

@font-face {
    font-family: 'PlusJakartaSansBold';
    src: url('../fonts/PlusJakartaSansBold.eot');
    src: url('../fonts/PlusJakartaSansBold.eot') format('embedded-opentype'),
        url('../fonts/PlusJakartaSansBold.woff2') format('woff2'),
        url('../fonts/PlusJakartaSansBold.woff') format('woff'),
        url('../fonts/PlusJakartaSansBold.ttf') format('truetype'),
        url('../fonts/PlusJakartaSansBold.svg#PlusJakartaSansBold') format('svg');
}

@font-face {
    font-family: 'Inter_24ptSemiBold';
    src: url('../fonts/Inter_24ptSemiBold.eot');
    src: url('../fonts/Inter_24ptSemiBold.eot') format('embedded-opentype'),
        url('../fonts/Inter_24ptSemiBold.woff2') format('woff2'),
        url('../fonts/Inter_24ptSemiBold.woff') format('woff'),
        url('../fonts/Inter_24ptSemiBold.ttf') format('truetype'),
        url('../fonts/Inter_24ptSemiBold.svg#Inter_24ptSemiBold') format('svg');
}

@font-face {
    font-family: 'Inter_18ptRegular';
    src: url('../fonts/Inter_18ptRegular.eot');
    src: url('../fonts/Inter_18ptRegular.eot') format('embedded-opentype'),
        url('../fonts/Inter_18ptRegular.woff2') format('woff2'),
        url('../fonts/Inter_18ptRegular.woff') format('woff'),
        url('../fonts/Inter_18ptRegular.ttf') format('truetype'),
        url('../fonts/Inter_18ptRegular.svg#Inter_18ptRegular') format('svg');
}

@font-face {
    font-family: 'PlusJakartaSansSemiBold';
    src: url('../fonts/PlusJakartaSansSemiBold.eot');
    src: url('../fonts/PlusJakartaSansSemiBold.eot') format('embedded-opentype'),
        url('../fonts/PlusJakartaSansSemiBold.woff2') format('woff2'),
        url('../fonts/PlusJakartaSansSemiBold.woff') format('woff'),
        url('../fonts/PlusJakartaSansSemiBold.ttf') format('truetype'),
        url('../fonts/PlusJakartaSansSemiBold.svg#PlusJakartaSansSemiBold') format('svg');
}

@font-face {
    font-family: 'PlusJakartaSansRegular';
    src: url('../fonts/PlusJakartaSansRegular.eot');
    src: url('../fonts/PlusJakartaSansRegular.eot') format('embedded-opentype'),
        url('../fonts/PlusJakartaSansRegular.woff2') format('woff2'),
        url('../fonts/PlusJakartaSansRegular.woff') format('woff'),
        url('../fonts/PlusJakartaSansRegular.ttf') format('truetype'),
        url('../fonts/PlusJakartaSansRegular.svg#PlusJakartaSansRegular') format('svg');
}