
<!-- <body> -->
  <!-- <div class="container"> -->
<section class="container-fluid  py-4">
  <h3 class="mb-4 fw-bold">Financial Analysis</h3>    

  <div class="row">
    <div class="col-5">
      <h6>From Date</h6>
      <input type="date" [(ngModel)]="Fromd" id="fromd" name="fromd" class="form-control">
    </div>
    <div class="col-5">
      <h6>To Date</h6>
      <input type="date" class="form-control" [(ngModel)]="Tod" id="Tod" name="Tod">
    </div>
    <div class="col-2 " >
      <button class="btn btn-outline-success active"(click)="getReport()" style="margin-top: 30px;"> <i class="fas fa-paper-plane"> </i></button>
    </div>
  </div>
  <!-- <div class="card-scroll-wrapper"> -->
  <div class="row g-4 mt-2">  
    <!-- Card 1 -->
     <!-- <div></div> -->
    <div class="col-12 col-sm-6 col-lg-3" (click)="ShowTable('sale')">
      <div class="card shadow-sm h-100">
          <h4>Sales Analysis</h4>
        <div class="card-body d-flex">
          
          <div class="bg-primary text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-bullhorn"></i>
          </div>
          <div class="flex-grow-1">
            <div class="small ">Sale Amount  <h5 class="mb-1">{{SA_SALE_NET_AMT  | number:'1.3-3'}}</h5></div>
            
          </div>
          <!-- <div class="text-end">
            <span class="text-success">↑ 12%</span>
          </div> -->
        </div>
        <div class="card-footer border-0 pt-2">
          <div class="row  small">
            <div class="col-7 card-textt">Gross Amount</div>
            <div class="col-5  card-textt text-end">{{SA_SALE_GROSS | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Discount</div>
            <div class="col-5 card-textt text-end">{{SA_SALE_DISC_AMT  | number:'1.3-3'}}</div>
          </div>
          <!-- <div class="row text-muted small">
              <div class="col-6 card-textt">Taxable Amount</div>
              <div class="col-6 text-end"></div>
            </div> -->
            <div class="row">
              <div class="col-7 card-textt">Tax Amount</div>
              <div class="col-5 card-textt text-end">{{SA_SALE_TOT_TAX | number:'1.3-3'}}</div>
            </div>
           
            <div class="row">
              <div class="col-7 card-textt">Add Charges</div>
              <div class="col-5 card-textt text-end">{{SA_SALE_ADT_CHG | number:'1.3-3'}}</div>
            </div>
            <div class="row">
              <div class="col-7 card-textt">Sales Return</div>
              <div class="col-5 card-textt text-end">{{SA_SLRET_NET_AMT | number:'1.3-3'}}</div>
            </div>
            
            <div class="row">
              <div class="col-7 card-textt">Net Amount</div>
              <div class="col-5 card-textt text-end">{{SA_SALE_NET_AMT | number:'1.3-3'}}</div>
            </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 col-sm-6 col-lg-3" (click)="ShowTable('collection')">
      <div class="card shadow-sm h-100">
          <h4>Collection Analysis</h4>
        <div class="card-body d-flex">
          
          <div class="bg-success text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="flex-grow-1">
            <div class="small ">Collected Amount</div>
            <h5 class="mb-1">{{(SA_SALE_NET_AMT - CA_CREDIT) | number:'1.3-3'}}</h5>
          </div>
          <div class="text-end">
            <!-- <span class="text-danger">↓ 8%</span> -->
          </div>
        </div>
        <div class="card-footer border-0 pt-2">
          <div class="row  small">
            <div class="col-7 card-textt">Cash Amount</div>
            <div class="col-5  card-textt text-end ">{{CA_CASH | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Credit Card</div>
            <div class="col-5  card-textt  text-end">{{CA_CC_AMOUNT | number:'1.3-3'}}</div>
          </div>
          <!-- <div class="row text-muted small">
              <div class="col-6 card-textt">Cheque Amount</div>
              <div class="col-6 text-end">{{CA_CHQ_AMOUNT}}</div>
            </div> -->
            <div class="row">
              <div class="col-7 card-textt">Wallet Amount</div>
              <div class="col-5  card-textt  text-end">{{CA_WALLET_AMOUNT | number:'1.3-3'}}</div>
            </div>
          <div class="row">
              <div class="col-7 card-textt">Total Cash</div>
              <div class="col-5  card-textt text-end">{{(CA_CASH + CA_WALLET_AMOUNT + CA_CC_AMOUNT) | number:'1.3-3'}}</div>
            </div> 
            <div class="row">
              <div class="col-7 card-textt">Credit Amount</div>
              <div class="col-5  card-textt  text-end">{{CA_CREDIT | number:'1.3-3'}}</div>
            </div>
            <div class="row">
              <div class="col-7 card-textt">Total Amount</div>
              <div class="col-5  card-textt text-end">{{SA_SALE_NET_AMT | number:'1.3-3'}}</div>
            </div>
        </div>
      </div>
    </div>

   
    
    
    <!-- Card 3 -->
    <div class="col-12 col-sm-6 col-lg-3"  (click)="ShowTable('purchase')">
      <div class="card shadow-sm h-100">
          <h4>Purchase Analysis</h4>
        <div class="card-body d-flex">
         
          <div class="bg-warning text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="flex-grow-1">
            <div class="small ">Purchase </div>
            <h5 class="mb-1">{{P_NET_AMT | number:'1.3-3'}}</h5>
          </div>
          <div class="text-end">
            <!-- <span class="text-success">↑ 5%</span> -->
          </div>
        </div>
        <div class="card-footer border-0 pt-2">
          <div class="row  small">
            <div class="col-7 card-textt">Gross Amount</div>
            <div class="col-5  card-textt  text-end">{{P_PURCH_TOT_AMT | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Discount</div>
            <div class="col-5 card-textt text-end">{{P_PURCH_TOT_DISC | number:'1.3-3'}}</div>
          </div>
          <div class="row  small">
              <div class="col-7 card-textt">Other Charge</div>
              <div class="col-5 card-textt text-end">{{P_PURCH_OTHER_CHG | number:'1.3-3'}}</div>
            </div>    <div class="row  small">
              <div class="col-7 card-textt">Round Off</div>
              <div class="col-5 card-textt text-end">{{P_ROUND_OFF | number:'1.3-3'}}</div>
            </div>
            <div class="row">
              <div class="col-7 card-textt">Tax Amount</div>
              <div class="col-5 card-textt text-end">{{P_PURCH_TOT_TAX | number:'1.3-3'}}</div>
            </div>
            <div class="row">
              <div class="col-7 card-textt">Total Amount</div>
              <div class="col-5 card-textt text-end">{{P_NET_AMT | number:'1.3-3'}}</div>
            </div>
            
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-12 col-sm-6 col-lg-3"(click)="ShowTable('profit')">
      <div class="card shadow-sm h-100">
          <h4>Profit Analysis</h4>
        <div class="card-body d-flex">
          
          <div class="bg-info text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fa-solid fa-chart-pie"></i>
          </div>
          <div class="flex-grow-1 text-black">
            <div class="small ">Net Profit</div>
            <h5 class="mb-1">{{PR_NET_PROFIT | number:'1.3-3'}}</h5>
          </div>
          <div class="text-end">
            <span [class]="checkSign(PR_PROFIT_PER)=='positive'?'text-success':checkSign(PR_PROFIT_PER)=='negative'?'text-danger':''">
              {{checkSign(PR_PROFIT_PER)=='positive'?'↑':checkSign(PR_PROFIT_PER)=='negative'?'↓':''}} {{PR_PROFIT_PER}}%</span>
          </div>
        </div>
        <div class="card-footer border-0 pt-2">
          <div class="row  ">
            <div class="col-7 card-textt">Total Sale(SR)</div>
            <div class="col-5 card-textt text-end">{{PR_TOTAL_SALE_SR | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Total Sale(PR)</div>
            <div class="col-5 card-textt text-end">{{PR_TOTAL_SALE_PR | number:'1.3-3'}}</div>
          </div>
          <div class="row  ">
              <div class="col-7 card-textt">Gross Profit</div>
              <div class="col-5 card-textt text-end">{{PR_GROSS_PROFIT | number:'1.3-3'}}</div>
            </div>
            <div class="row">
              <div class="col-7 card-textt">Tax Amount</div>
              <div class="col-5 card-textt text-end">{{PR_TAX_AMT | number:'1.3-3'}}</div>
            </div>
            <div class="row">
              <div class="col-7 card-textt">Net Profit</div>
              <div class="col-5 card-textt text-end">{{PR_NET_PROFIT | number:'1.3-3'}}</div>
            </div>
            <!-- <div class="row">
              <div class="col-7 card-textt">Tax Amount</div>
              <div class="col-5 text-end">$12.5k</div>
            </div> -->
        </div>
      </div>
    </div>
    

    <div class="col-12 col-sm-6 col-lg-3"(click)="ShowTable('stock')">
      <div class="card shadow-sm h-100">
          <h4>Stock Analysis</h4>
        <div class="card-body d-flex">
          
          <div class="bg-info text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fa-solid fa-chart-pie"></i>
          </div>
          <div class="flex-grow-1">
            <div class="small ">Net Margin</div>
            <h5 class="mb-1">{{ST_NET_MARGIN | number:'1.3-3'}}</h5>
          </div>
          <div class="text-end">
            <span [class]="checkSign(ST_MARGIN_PER)=='positive'?'text-success':checkSign(ST_MARGIN_PER)=='negative'?'text-danger':''">
              {{checkSign(ST_MARGIN_PER)=='positive'?'↑':checkSign(ST_MARGIN_PER)=='negative'?'↓':''}} {{ST_MARGIN_PER}}%</span>
          </div>
        </div>
        <div class="card-footer border-0 pt-2">
          
         
       
          <div class="row  ">
            <div class="col-7 card-textt">Stock value(PR)</div>
            <div class="col-5 card-textt text-end">{{ST_STOCK_PR | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Stock value(SR)</div>
            <div class="col-5 card-textt text-end">{{ST_STOCK_SR | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Gross Margin</div>
            <div class="col-5 card-textt text-end">{{ST_GROSS_MARGIN | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Tax Amount</div>
            <div class="col-5 card-textt text-end">{{ST_TAX_AMT | number:'1.3-3'}}</div>
          </div>
          <div class="row  ">
              <div class="col-7 card-textt">Margin </div>
              <div class="col-5 card-textt text-end">{{ST_NET_MARGIN | number:'1.3-3'}}</div>
            </div>

        </div>
      </div>
    </div>



 <div class="col-12 col-sm-6 col-lg-3" (click)="ShowTable('customer-outstanding')">
      <div class="card shadow-sm h-100">
          <h4>Customer Outstanding</h4>
        <div class="card-body d-flex">
          
          <div class="bg-primary text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-hand-holding-usd"></i> 

          </div>
          <div class="flex-grow-1">
            <div class="small ">Total Outstanding Amount <h5 class="mb-1">{{CO_Bal_Amt  | number:'1.3-3'}}</h5></div>
            
          </div>
          <!-- <div class="text-end">
            <span class="text-success">↑ 12%</span>
          </div> -->
        </div>
        <div class="card-footer border-0 pt-2">
          <div class="row  small">
            <div class="col-7 card-textt"> Total Sales</div>
            <div class="col-5  card-textt text-end">{{CO_Sale_net_amt | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Total Collection</div>
            <div class="col-5 card-textt text-end">{{CO_Sett_amt  | number:'1.3-3'}}</div>
          </div>
          <!-- <div class="row text-muted small">
              <div class="col-6 card-textt">Taxable Amount</div>
              <div class="col-6 text-end"></div>
            </div> -->
            <div class="row">
              <div class="col-7 card-textt">Total Balance </div>
              <div class="col-5 card-textt text-end">{{CO_Bal_Amt | number:'1.3-3'}}</div>
            </div>
           
      
        </div>
      </div>
    </div>

<div class="col-12 col-sm-6 col-lg-3" (click)="ShowTable('supplier-outstanding')">
      <div class="card shadow-sm h-100">
          <h4>Supplier Outstanding</h4>
        <div class="card-body d-flex">
          
          <div class="bg-primary text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-file-invoice"></i> 


          </div>
          <div class="flex-grow-1">
            <div class="small ">Pending Pyaments <h5 class="mb-1">{{SO_Bal_Amt  | number:'1.3-3'}}</h5></div>
            
          </div>
          <!-- <div class="text-end">
            <span class="text-success">↑ 12%</span>
          </div> -->
        </div>
        <div class="card-footer border-0 pt-2">
          <div class="row  small">
            <div class="col-7 card-textt">Total Purchases</div>
            <div class="col-5  card-textt text-end">{{CO_Total_Purchases | number:'1.3-3'}}</div>
          </div>
          <div class="row">
            <div class="col-7 card-textt">Total Payment</div>
            <div class="col-5 card-textt text-end">{{CO_Total_Payment  | number:'1.3-3'}}</div>
          </div>
          <!-- <div class="row text-muted small">
              <div class="col-6 card-textt">Taxable Amount</div>
              <div class="col-6 text-end"></div>
            </div> -->
            <div class="row">
              <div class="col-7 card-textt">Total Outstanding </div>
              <div class="col-5 card-textt text-end">{{SO_Bal_Amt | number:'1.3-3'}}</div>
            </div>
           
          
        </div>
      </div>
    </div>


  
  
         
       
    <!-- <div class="col-12 col-sm-6 col-lg-2">
      <div class="card shadow-sm h-100">
          <h4>Card Title</h4>
        <div class="card-body d-flex">
          
          <div class="bg-danger text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-users"></i>
          </div>
          <div class="flex-grow-1">
            <div class="small text-muted">Users</div>
            <h5 class="mb-1">18.4k</h5>
          </div>
          <div class="text-end">
            <span class="text-success">↑ 17%</span>
          </div>
        </div>
        <div class="card-footer  border-0 pt-2">
          <div class="row text-muted small">
            <div class="col-6 card-textt">Campaign Type</div>
            <div class="col-6 text-end">Global Spend</div>
          </div>
          <div class="row">
            <div class="col-6 card-textt">Performance max</div>
            <div class="col-6 text-end">$5.5k</div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-lg-2">
      <div class="card shadow-sm h-100">
          <h4>Card Title</h4>
        <div class="card-body d-flex">
          
          <div class="bg-secondary text-white rounded p-3 me-3 d-flex align-items-center justify-content-center"
               style="width: 50px; height: 50px;">
            <i class="fas fa-tasks"></i>
          </div>
          <div class="flex-grow-1">
            <div class="small text-muted">Tasks</div>
            <h5 class="mb-1">112</h5>
          </div>
          <div class="text-end">
            <span class="text-danger">↓ 3%</span>
          </div>
        </div>
        <div class="card-footer  border-0 pt-2">
          <div class="row text-muted small">
            <div class="col-6 card-textt">Campaign Type</div>
            <div class="col-6 text-end">Global Spend</div>
          </div>
          <div class="row">
            <div class="col-6 card-textt">Search</div>
            <div class="col-6 text-end">$10.0k</div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
<!-- </div> -->
</section>


<div class="responsive-table-wrapper mb-5" *ngIf="ViewTable">
  <div class="row" *ngIf="ClickedReport=='sale'">
    <div class="col-4 col-md-2  text-black">
      <input type="checkbox" [checked]="SelectedSaleReport=='bill_wise'" (click)="GetSaleReportTables('bill_wise')">Bill Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='item_wise'" (click)="GetSaleReportTables('item_wise')" >Item Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='cate_wise'" (click)="GetSaleReportTables('cate_wise')">Category Wise
    </div>
   
  </div>
  <div class="row" *ngIf="ClickedReport=='collection'">
    <div class="col-12">
      <h6>Counter Collection report</h6>
    </div>
  </div>

  <div class="row" *ngIf="ClickedReport=='profit'">
    <div class="col-4 col-md-2  text-black">
      <input type="checkbox" [checked]="SelectedSaleReport=='pro_item'" (click)="GetSaleReportTables('pro_item')">Item Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='pro_vendor'" (click)="GetSaleReportTables('pro_vendor')" >Vendor Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='pro_cate'" (click)="GetSaleReportTables('pro_cate')">Category Wise
    </div>
   
  </div>

  <div class="row" *ngIf="ClickedReport=='stock'">
    <div class="col-4 col-md-2  text-black">
      <input type="checkbox" [checked]="SelectedSaleReport=='stock_item'" (click)="GetSaleReportTables('stock_item')">Item Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='stock_vendor'" (click)="GetSaleReportTables('stock_vendor')" >Vendor Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='stock_cate'" (click)="GetSaleReportTables('stock_cate')">Category Wise
    </div>
   
  </div>
  <div class="row" *ngIf="ClickedReport=='purchase'">
    <div class="col-4 col-md-2  text-black">
      <input type="checkbox" [checked]="SelectedSaleReport=='p_bill'" (click)="GetSaleReportTables('p_bill')">Bill Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='p_item'" (click)="GetSaleReportTables('p_item')" >Item Wise
    </div>
    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='p_cate'" (click)="GetSaleReportTables('p_cate')">Category Wise
    </div>

    <div class="col-4 col-md-2">
      <input type="checkbox" [checked]="SelectedSaleReport=='p_vendor'" (click)="GetSaleReportTables('p_vendor')">Vendor Wise
    </div>
   
  </div>

  <div class="row" *ngIf="ClickedReport=='customer-outstanding'">
    <div class="col-4 col-md-4  text-black">
      <input type="checkbox" [checked]="SelectedSaleReport=='CO_Customer_Sale'" (click)="GetSaleReportTables('CO_Customer_Sale')">Customer Wise Sales
    </div>
    <div class="col-4 col-md-4">
      <input type="checkbox" [checked]="SelectedSaleReport=='CO_Customer_collection'" (click)="GetSaleReportTables('CO_Customer_collection')" >Customer Wise Collection
    </div>
    <div class="col-4 col-md-4">
      <input type="checkbox" [checked]="SelectedSaleReport=='CO_Customer_Balance'" (click)="GetSaleReportTables('CO_Customer_Balance')">Customer Wise Balance
    </div>




   
  </div>


  <div class="row" *ngIf="ClickedReport=='supplier-outstanding'">
    <div class="col-4 col-md-4  text-black">
      <input type="checkbox" [checked]="SelectedSaleReport=='supplier_wise_purchase'" (click)="GetSaleReportTables('supplier_wise_purchase')">Supplier Wise Purchase
    </div>
    <div class="col-4 col-md-4">
      <input type="checkbox" [checked]="SelectedSaleReport=='supplier_wise_payment'" (click)="GetSaleReportTables('supplier_wise_payment')" >Supplier Wise Payment
    </div>
    <div class="col-4 col-md-4">
      <input type="checkbox" [checked]="SelectedSaleReport=='supplier_wise_outstanding'" (click)="GetSaleReportTables('supplier_wise_outstanding')">Supplier Wise Outstanding
    </div>




   
  </div>

  <!-- Filter Bar -->
  <!-- <div class="table-filter">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search Campaigns..." id="searchInput" />
      </div>
    </div> -->

    <!-- {
      "COMP_NAME": "Company",
      "TYPE": "S",
      "SALE_BILL_NO": "1",
      "SALE_DATE": "2025-04-09T00:00:00",
      "SALE_GROSS": 1.3,
      "SALE_TOT_TAX": 0,
      "SALE_DISC_AMT": 0,
      "SALE_ADT_CHG": 0,
      "CASH": 1.3,
      "CREDIT": 0,
      "CC_AMOUNT": 0,
      "CHQ_AMOUNT": 0,
      "WALLET_AMOUNT": 0,
      "SALE_NET_AMT": 1.3,
      "SLRET_NET_AMT": 0
  } -->
  
  <div class="table-container" *ngIf="SelectedSaleReport=='bill_wise'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- <th>Campaign</th>
          <th>Status</th>
          <th>Spend</th>-->
          <th>#</th> 
          <th>Date</th>
          <th>Bill No</th>
          <th class="text-end"> Gross Amt</th>
          
          <th class="text-end">Disc Amt</th>
          <th class="text-end">Taxable Amt</th>
          <th class="text-end">Tax Amt</th>
          <th class="text-end">Add. Amt</th>
          <!-- <th>Wallet Amt</th>
          <th>Return Amt</th> -->
          <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of BillWiseReportData;let i = index" class="text-black">
         
          <td>{{i+1}}</td>
          <td>{{items.SALE_DATE | date:'dd/MMM/yyyy'}}</td>
          <td>{{items.SALE_BILL_NO}}</td>
          <td class="text-end">{{items.SALE_GROSS  | number:'1.3-3'}}</td>
          
          <td class="text-end">{{items.SALE_DISC_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{(items.SALE_GROSS - items.SALE_DISC_AMT) | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SALE_TOT_TAX | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SALE_ADT_CHG | number:'1.3-3'}}</td>
          <!-- <td>{{items.WALLET_AMOUNT}}</td>
          <td>{{items.SLRET_NET_AMT}}</td> -->
          <td class="text-end">{{items.SALE_NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


      <!-- <tbody > -->
        
      <!-- </tbody> -->
    </table>
    <div class="row m-3" *ngIf="BillWiseReportData.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='item_wise'">
    <table class="custom-table">
      <thead>
        <tr>

          <!-- {
            "ITEM_NAME": "AL AMEER BLACK PEPPER POWDER320G",
            "QTY": 1,
            "SLDT_TOT_AMT": 1.3,
            "SLDT_TAX_AMT": 0,
            "SLDT_DISC_AMT": 0,
            "SLDT_NET_AMT": 1.3
        } -->
          <!-- <th>Campaign</th>
          <th>Status</th>
          <th>Spend</th>-->
          <th>#</th> 
          <th>Item</th>
          <th> Qty</th>
          <th class="text-end">Gross Amt</th>
          <th class="text-end">Disc Amt</th>
          <th class="text-end">Taxable Amt</th>
          <!-- <th class="text-end">Total Amt</th> -->
          <th class="text-end">Tax Amt</th>
          <!-- <th>Wallet Amt</th>
          <th>Return Amt</th> -->
          <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of ItemWiseReportData;let i = index">
         
          <td>{{i+1}}</td>
          <td>{{items.ITEM_NAME }}</td>
          <td>{{items.QTY}}</td>
          <td class="text-end">{{items.SLDT_TOT_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SLDT_DISC_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{(items.SLDT_TOT_AMT - items.SLDT_DISC_AMT) | number:'1.3-3'}}</td>
          <!-- <td class="text-end">{{items.SLDT_TOT_AMT | number:'1.3-3'}}</td> -->
          <td class="text-end">{{items.SLDT_TAX_AMT | number:'1.3-3'}}</td>
          <!-- <td>{{items.WALLET_AMOUNT}}</td>
          <td>{{items.SLRET_NET_AMT}}</td> -->
          <td class="text-end">{{items.SLDT_NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


    
    </table>

    <div class="row m-3" *ngIf="ItemWiseReportData.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='cate_wise'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 6,
            "SLDT_TOT_AMT": 75.3,
            "SLDT_TAX_AMT": 0,
            "SLDT_DISC_AMT": 0,
            "SLDT_NET_AMT": 75.3
        } -->
        <th>#</th> 
        <th>Category</th>
        <!-- <th> Qty</th> -->
        
        <th class="text-end">Total Amt</th>
        <th class="text-end">Disc Amt</th>
        <th class="text-end">Taxable Amt</th>
        <th class="text-end">Tax Amt</th>
        <!-- <th>Wallet Amt</th>
        <th>Return Amt</th> -->
        <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of CateWiseReportData;let i = index">
         
          <td>{{i+1}}</td>
          <td>{{items.ITCAT_NAME }}</td>
          <!-- <td>{{items.QTY}}</td> -->
          <td class="text-end">{{items.SLDT_TOT_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SLDT_DISC_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{(items.SLDT_TOT_AMT - items.SLDT_DISC_AMT) | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SLDT_TAX_AMT | number:'1.3-3'}}</td>
          <!-- <td>{{items.WALLET_AMOUNT}}</td>
          <td>{{items.SLRET_NET_AMT}}</td> -->
          <td class="text-end">{{items.SLDT_NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="CateWiseReportData.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>


  <div class="table-container" *ngIf="SelectedSaleReport=='colle_count'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
            "COUNTER_NAME": "Sale Counter 1",
            "CASH": 32.3,
            "CREDIT": 60,
            "CC_AMOUNT": 0,
            "CHQ_AMOUNT": 0,
            "WALLET_AMOUNT": 0,
            "SALE_NET_AMT": 92.3
        } -->
        <th>#</th> 
        <th>Counter</th>
        <!-- <th> Qty</th> -->
        
        <th class="text-end">Cash Amt</th>
        <th class="text-end">Credit Card Amt</th>
        <th class="text-end">Wallet Amt</th>
        
        <th class="text-end">Credit Amt</th>
        <!-- <th>Return Amt</th> -->
        <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of CounterCollectionReportData;let i = index">
         
          <td>{{i+1}}</td>
          <td>{{items.COUNTER_NAME }}</td>
          <!-- <td>{{items.QTY}}</td> -->
          <td class="text-end">{{items.CASH | number:'1.3-3'}}</td>
          <td class="text-end">{{items.CC_AMOUNT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.WALLET_AMOUNT | number:'1.3-3'}}</td>
          
          <td class="text-end">{{items.CREDIT | number:'1.3-3'}}</td>
          <!-- <td>{{items.SLRET_NET_AMT}}</td> -->
          <td class="text-end">{{items.SALE_NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="CounterCollectionReportData.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='p_bill'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
        {
    "COMP_NAME": "Company",
    "TYPE": "P",
    "PURCH_REF_NO": "PPS/2025/PRCH/1",
    "PURCH_DATE": "2025-04-09T00:00:00",
    "PURCH_TOT_AMT": 38,
    "PURCH_TOT_TAX": 0,
    "PURCH_TOT_DISC": 0,
    "PURCH_OTHER_CHG": 0,
    "ROUND_OFF": 0,
    "NET_AMT": 38
}
        } -->
        <th>#</th> 
        <th>Date</th>
        <!-- <th> Qty</th> -->
        
        <th class="text-end">Total Amt</th>
        <th class="text-end">Disc Amt</th>
        <th class="text-end">Taxable Amt</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Oth Charge</th>
        <th class="text-end">Round Off</th>
        <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of PurhaseReportData;let i = index">
         
          <td>{{i+1}}</td>
          <td>{{items.PURCH_DATE | date:'dd/MMM/yyyy' }}</td>
          <!-- <td>{{items.QTY}}</td> -->
          <td class="text-end">{{items.PURCH_TOT_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PURCH_TOT_DISC | number:'1.3-3'}}</td>
          <td class="text-end">{{(items.PURCH_TOT_AMT - items.PURCH_TOT_DISC) | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PURCH_TOT_TAX | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PURCH_OTHER_CHG | number:'1.3-3'}}</td>
          <td class="text-end">{{items.ROUND_OFF | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="PurhaseReportData.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>
  <div class="table-container" *ngIf="SelectedSaleReport=='p_item'">
    <table class="custom-table">
      <thead>
        <tr>

          <!-- {
            "ITEM_NAME": "AL AMEER BLACK PEPPER POWDER320G",
            "QTY": 1,
            "SLDT_TOT_AMT": 1.3,
            "SLDT_TAX_AMT": 0,
            "SLDT_DISC_AMT": 0,
            "SLDT_NET_AMT": 1.3
        } -->
          <!-- <th>Campaign</th>
          <th>Status</th>
          <th>Spend</th>-->
          <th>#</th> 
          <th>Item</th>
          <th> Qty</th>
          
          <th class="text-end">Total Amt</th>
          <th class="text-end">Disc Amt</th>
          <th class="text-end">Taxable Amt</th>
          <th class="text-end">Tax Amt</th>
          <!-- <th>Wallet Amt</th>
          <th>Return Amt</th> -->
          <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of PurchaseItemReport;let i = index">

          <!-- {
            "ITEM_NAME": "ALMOND -KI",
            "QTY": 10,
            "TOT_AMT": 38,
            "TAX_AMT": 0,
            "ITEM_DISC_AMT": 0,
            "NET_AMT": 38
        } -->
         
          <td>{{i+1}}</td>
          <td>{{items.ITEM_NAME }}</td>
          <td>{{items.QTY}}</td>
          <td class="text-end">{{items.TOT_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.ITEM_DISC_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{(items.TOT_AMT - items.ITEM_DISC_AMT) | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <!-- <td>{{items.WALLET_AMOUNT}}</td>
          <td>{{items.SLRET_NET_AMT}}</td> -->
          <td class="text-end">{{items.NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


    
    </table>

    <div class="row m-3" *ngIf="PurchaseItemReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='p_cate'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 6,
            "SLDT_TOT_AMT": 75.3,
            "SLDT_TAX_AMT": 0,
            "SLDT_DISC_AMT": 0,
            "SLDT_NET_AMT": 75.3
        } -->
        <th>#</th> 
        <th>Category</th>
        <!-- <th> Qty</th> -->
        
        <th class="text-end">Total Amt</th>
        <th class="text-end">Disc Amt</th>
        <th class="text-end">Taxable Amt</th>
        <th class="text-end">Tax Amt</th>
        <!-- <th>Wallet Amt</th>
        <th>Return Amt</th> -->
        <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of PurchaseCategoryReport;let i = index">
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 20,
            "TOT_AMT": 50,
            "TAX_AMT": 0,
            "ITEM_DISC_AMT": 0,
            "NET_AMT": 50
        } -->
          <td>{{i+1}}</td>
          <td>{{items.ITCAT_NAME }}</td>
          <!-- <td>{{items.QTY}}</td> -->
          <td class="text-end">{{items.TOT_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.ITEM_DISC_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{(items.TOT_AMT  - items.ITEM_DISC_AMT) | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <!-- <td>{{items.WALLET_AMOUNT}}</td>
          <td>{{items.SLRET_NET_AMT}}</td> -->
          <td class="text-end">{{items.NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="PurchaseCategoryReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='p_vendor'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
            "VENDOR_NAME": "A1 Supplier",
            "PURCH_TOT_AMT": 50,
            "PURCH_TOT_TAX": 0,
            "PURCH_TOT_DISC": 0,
            "PURCH_OTHER_CHG": 0,
            "ROUND_OFF": 0,
            "NET_AMT": 50,
            "PRET_NET_AMT": 0
        } -->
        <th>#</th> 
        <th>Vedor</th>
        <!-- <th> Qty</th> -->
        
        <th class="text-end">Total Amt</th>
        <th class="text-end">Disc Amt</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end"> Other Charge</th>
        <th class="text-end"> Round Off</th>
        <th class="text-end">Return Amt</th>
        <th class="text-end">Net Amt</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of PurchaseVendorReport;let i = index">
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 20,
            "TOT_AMT": 50,
            "TAX_AMT": 0,
            "ITEM_DISC_AMT": 0,
            "NET_AMT": 50
        } -->
          <td>{{i+1}}</td>
          <td>{{items.VENDOR_NAME }}</td>
          <!-- <td>{{items.QTY}}</td> -->
          <td class="text-end">{{items.PURCH_TOT_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PURCH_TOT_DISC | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PURCH_TOT_TAX | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PURCH_OTHER_CHG | number:'1.3-3'}}</td>
          <td class="text-end">{{items.ROUND_OFF | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PRET_NET_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_AMT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="PurchaseVendorReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>
 

  <div class="table-container" *ngIf="SelectedSaleReport=='pro_item'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
           "ITEM_NAME": "CANELS JERRY 1.5KGX8(CTN)",
    "VAT": 0,
    "SALE_QTY": 11,
    "LC": 13.883,
    "SR": 14.577,
    "TOTAL_SALE_SR": 160.347,
    "TOTAL_SALE_PR": 152.713,
    "GROSS_PROFIT": 7.634,
    "TAX_AMT": 0,
    "NET_PROFIT": 7.634,
    "PROFIT_PER": 5
        } -->
        <th>#</th> 
        <th>Item</th>
        <th> Qty</th>
        
        <th class="text-end">LC</th>
        <th class="text-end">SR</th>
        <th class="text-end">VAT</th>
        <th class="text-end">Profit(%)</th>
        <th class="text-end"> Total (SR)</th>
        <th class="text-end"> Total (PR)</th>
        <th class="text-end">Gross Profit</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Net Profit</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of ProfitItemWiseReport;let i = index">
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 20,
            "TOT_AMT": 50,
            "TAX_AMT": 0,
            "ITEM_DISC_AMT": 0,
            "NET_AMT": 50
        } -->
          <td>{{i+1}}</td>
          <td>{{items.ITEM_NAME }}</td>
          <td>{{items.SALE_QTY}}</td>
          <td class="text-end">{{items.LC | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.VAT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.PROFIT_PER }}</td>
          <td class="text-end">{{items.TOTAL_SALE_SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TOTAL_SALE_PR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_PROFIT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_PROFIT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="ProfitItemWiseReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='pro_vendor'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
           {
    "VENDOR_NAME": "B2C NESTO MANAMA",
    "VAT": 10,
    "SALE_QTY": 4,
    "TOTAL_SALE_SR": 12,
    "TOTAL_SALE_PR": 10.4,
    "GROSS_PROFIT": 1.6,
    "TAX_AMT": 0.16,
    "NET_PROFIT": 1.44,
    "PROFIT_PER": 13.85
}
        } -->
        <th>#</th> 
        <th>Vedor</th>
        <th> Qty</th>
        <th class="text-end"> VAT</th>
        
        <th class="text-end">Profit(%)</th>
        <th class="text-end">Total Sale(SR)</th>
        <th class="text-end">Total Sale(PR)</th>
        <th class="text-end"> Gross Profit</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Net Profit</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of profitVendorWise;let i = index">
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 20,
            "TOT_AMT": 50,
            "TAX_AMT": 0,
            "ITEM_DISC_AMT": 0,
            "NET_AMT": 50
        } -->
          <td>{{i+1}}</td>
          <td>{{items.VENDOR_NAME }}</td>
          <td>{{items.SALE_QTY}}</td>
          <td class="text-end">{{items.VAT | number:'1.3-3'}}</td>
          <td >{{items.PROFIT_PER }}</td>
          <td class="text-end">{{items.TOTAL_SALE_SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TOTAL_SALE_PR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_PROFIT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_PROFIT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="profitVendorWise.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='pro_cate'">
    <table class="custom-table">
      <thead>
        <tr>
          <!-- {
           {
    "VENDOR_NAME": "B2C NESTO MANAMA",
    "VAT": 10,
    "SALE_QTY": 4,
    "TOTAL_SALE_SR": 12,
    "TOTAL_SALE_PR": 10.4,
    "GROSS_PROFIT": 1.6,
    "TAX_AMT": 0.16,
    "NET_PROFIT": 1.44,
    "PROFIT_PER": 13.85
}
        } -->
        <th>#</th> 
        <th>Category</th>
        <th> Qty</th>
        <th class="text-end"> VAT</th>
        
        <th class="text-end">Profit(%)</th>
        <th class="text-end">Total Sale(SR)</th>
        <th class="text-end">Total Sale(PR)</th>
        <th class="text-end"> Gross Profit</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Net Profit</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of ProfitCateWiseReport;let i = index">
          <!-- {
            "ITCAT_NAME": "GENERAL",
            "QTY": 20,
            "TOT_AMT": 50,
            "TAX_AMT": 0,
            "ITEM_DISC_AMT": 0,
            "NET_AMT": 50
        } -->
          <td>{{i+1}}</td>
          <td>{{items.ITCAT_NAME }}</td>
          <td>{{items.SALE_QTY}}</td>
          <td class="text-end">{{items.VAT | number:'1.3-3'}}</td>
          <td >{{items.PROFIT_PER }}</td>
          <td class="text-end">{{items.TOTAL_SALE_SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TOTAL_SALE_PR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_PROFIT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_PROFIT | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="profitVendorWise.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>
 
  <div class="table-container" *ngIf="SelectedSaleReport=='stock_item'">
    <table class="custom-table">
      <thead>
        <tr>
         
        <th>#</th> 
        <th>Item</th>
        <!-- <th> Qty</th> -->
        
        <th class="text-end">LC</th>
        <th class="text-end">SR</th>
        <th class="text-end">VAT</th>
        <th class="text-end">Profit(%)</th>
        <th class="text-end"> Stock (SR)</th>
        <th class="text-end"> Stock (PR)</th>
        <th class="text-end">Gross Margin</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Net Margin</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of StockItemWiseReport;let i = index">
          <!-- {
            {
    "ITEM_NAME": "TAYAS CRASH MIX ASSORTED 700G",
    "VAT": 0,
    "STOCK": 80,
    "LC": 0.35,
    "SR": 0.368,
    "STOCK_SR": 29.44,
    "STOCK_PR": 28,
    "GROSS_MARGIN": 1.44,
    "TAX_AMT": 0,
    "NET_MARGIN": 1.44,
    "MARGIN_PER": 5.14
}
        } -->
          <td>{{i+1}}</td>
          <td>{{items.ITEM_NAME }}</td>
          <!-- <td>{{items.SALE_QTY}}</td> -->
          <td class="text-end">{{items.LC | number:'1.3-3'}}</td>
          <td class="text-end">{{items.SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.VAT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.MARGIN_PER }}</td>
          <td class="text-end">{{items.STOCK_SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.STOCK_PR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_MARGIN | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_MARGIN | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="StockItemWiseReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='stock_vendor'">
    <table class="custom-table">
      <thead>
        <tr>
         
        <th>#</th> 
        <th>Item</th>
        <!-- <th> Qty</th> -->
        
        <!-- <th class="text-end">LC</th> -->
        <th class="text-end">Stock</th>
        <th class="text-end">VAT</th>
        <th class="text-end">Margin(%)</th>
        <th class="text-end"> Stock (SR)</th>
        <th class="text-end"> Stock (PR)</th>
        <th class="text-end">Gross Margin</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Net Margin</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of StockVendorWiseReport;let i = index">
          <!-- {
            {
    "ITEM_NAME": "TAYAS CRASH MIX ASSORTED 700G",
    "VAT": 0,
    "STOCK": 80,
    "LC": 0.35,
    "SR": 0.368,
    "STOCK_SR": 29.44,
    "STOCK_PR": 28,
    "GROSS_MARGIN": 1.44,
    "TAX_AMT": 0,
    "NET_MARGIN": 1.44,
    "MARGIN_PER": 5.14
}
        } -->
          <td>{{i+1}}</td>
          <td>{{items.VENDOR_NAME }}</td>
          <!-- <td>{{items.SALE_QTY}}</td> -->
          <!-- <td class="text-end">{{items.LC | number:'1.3-3'}}</td> -->
          <td class="text-end">{{items.STOCK | number:'1.3-3'}}</td>
          <td class="text-end">{{items.VAT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.MARGIN_PER }}</td>
          <td class="text-end">{{items.STOCK_SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.STOCK_PR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_MARGIN | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_MARGIN | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="StockVendorWiseReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='stock_cate'">
    <table class="custom-table">
      <thead>
        <tr>
         
        <th>#</th> 
        <th>Category</th>
        <!-- <th> Qty</th> -->
        
        <!-- <th class="text-end">LC</th> -->
        <th class="text-end">Stock</th>
        <th class="text-end">VAT</th>
        <th class="text-end">Margin(%)</th>
        <th class="text-end"> Stock (SR)</th>
        <th class="text-end"> Stock (PR)</th>
        <th class="text-end">Gross Margin</th>
        <th class="text-end">Tax Amt</th>
        <th class="text-end">Net Margin</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of StockCateWiseReport;let i = index">
          <!-- {
            {
    "ITEM_NAME": "TAYAS CRASH MIX ASSORTED 700G",
    "VAT": 0,
    "STOCK": 80,
    "LC": 0.35,
    "SR": 0.368,
    "STOCK_SR": 29.44,
    "STOCK_PR": 28,
    "GROSS_MARGIN": 1.44,
    "TAX_AMT": 0,
    "NET_MARGIN": 1.44,
    "MARGIN_PER": 5.14
}
        } -->
          <td>{{i+1}}</td>
          <td>{{items.ITCAT_NAME }}</td>
          <!-- <td>{{items.SALE_QTY}}</td> -->
          <!-- <td class="text-end">{{items.LC | number:'1.3-3'}}</td> -->
          <td class="text-end">{{items.STOCK | number:'1.3-3'}}</td>
          <td class="text-end">{{items.VAT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.MARGIN_PER }}</td>
          <td class="text-end">{{items.STOCK_SR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.STOCK_PR | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_MARGIN | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_MARGIN | number:'1.3-3'}}</td>
        
         
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="StockCateWiseReport.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>

  <div class="table-container" *ngIf="SelectedSaleReport=='CO_Customer_Sale' || SelectedSaleReport=='CO_Customer_Balance' || SelectedSaleReport=='CO_Customer_collection'">
    <table class="custom-table">
      <thead>
        <tr>
         
        <th>#</th> 
        <th>Customer Name</th>
        <!-- <th> Qty</th> -->
        
        <!-- <th class="text-end">LC</th> -->
        <th class="text-end">30 days</th>
        <th class="text-end">60 days</th>
        <th class="text-end">90 days</th>
        <th class="text-end">120 days</th>
        <th class="text-end">above 120 days</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of CO_Customer_report_List;let i = index">
      
          <td>{{i+1}}</td>
          <td>{{items.CUST_NAME }}</td>
          <td class="text-end">{{items["'30'"] == null?0:items["'30'"]| number:'1.3-3'}}</td>
          <td class="text-end">{{items["'60'"] ==null?0 :items["'60'"]| number:'1.3-3'}}</td>
          <td class="text-end">{{items["'90'"] ==null?0 :items["'90'"]| number:'1.3-3'}}</td>
          <td class="text-end">{{items["'120'"]==null?0:items["'120'"]| number:'1.3-3' }}</td>
          <td class="text-end">{{items["'ABOVE 120'"]==null?0:items["'ABOVE 120'"] | number:'1.3-3'}}</td>
          <!-- <td class="text-end">{{items['30'] | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_MARGIN | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_MARGIN | number:'1.3-3'}}</td> -->
        
         <!-- 
    "CUST_ID": 1210000001,
            "CUST_NAME": "ATH GADLANG WLL",
            "'30'": 3.445,
            "'60'": null,
            "'90'": null,
            "'120'": 0.0,
            "'ABOVE 120'": nul -->
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="CO_Customer_report_List.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>


  <div class="table-container" *ngIf="SelectedSaleReport === 'supplier_wise_purchase' || 
  SelectedSaleReport === 'supplier_wise_payment' || 
  SelectedSaleReport === 'supplier_wise_outstanding'"
>
    <table class="custom-table">
      <thead>
        <tr>
         
        <th>#</th> 
        <th>Supplier Name</th>
        <!-- <th> Qty</th> -->
        
        <!-- <th class="text-end">LC</th> -->
        <th class="text-end">30 days</th>
        <th class="text-end">60 days</th>
        <th class="text-end">90 days</th>
        <th class="text-end">120 days</th>
        <th class="text-end">above 120 days</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let items of SO_Supplier_report_List;let i = index">
      
          <td>{{i+1}}</td>
          <td>{{items.VENDOR_NAME }}</td>
          <td class="text-end">{{items["'30'"] == null?0:items["'30'"]| number:'1.3-3'}}</td>
          <td class="text-end">{{items["'60'"] ==null?0 :items["'60'"]| number:'1.3-3'}}</td>
          <td class="text-end">{{items["'90'"] ==null?0 :items["'90'"]| number:'1.3-3'}}</td>
          <td class="text-end">{{items["'120'"]==null?0:items["'120'"]| number:'1.3-3' }}</td>
          <td class="text-end">{{items["'ABOVE 120'"]==null?0:items["'ABOVE 120'"] | number:'1.3-3'}}</td>
          <!-- <td class="text-end">{{items['30'] | number:'1.3-3'}}</td>
          <td class="text-end">{{items.GROSS_MARGIN | number:'1.3-3'}}</td>
          <td class="text-end">{{items.TAX_AMT | number:'1.3-3'}}</td>
          <td class="text-end">{{items.NET_MARGIN | number:'1.3-3'}}</td> -->
        
         <!-- 
    "CUST_ID": 1210000001,
            "CUST_NAME": "ATH GADLANG WLL",
            "'30'": 3.445,
            "'60'": null,
            "'90'": null,
            "'120'": 0.0,
            "'ABOVE 120'": nul -->
        </tr>
      
       
      </tbody>


     
    </table>

    <div class="row m-3" *ngIf="SO_Supplier_report_List.length==0">
      <div class="col-12 ">
        <h4 class="text-center">No Record Found!</h4>

      </div>
    </div>
  </div>
 
  <!-- Paginator -->
  <!-- <div class="table-paginator">
    <button>&laquo;</button>
    <button>1</button>
    <button class="active">2</button>
    <button>3</button>
    <button>&raquo;</button>
  </div> -->
</div>
<!-- </div> -->

<!-- </body> -->

