.career-wrapper p
{
    color:#fff;
}
.career-form{
	
	 width:100%;
	background: #fff;
	 padding: 5% 0;
	 margin-bottom: 5%;
	 color:#000 !important;
	 }
.career-form-wrapper{
	float: left;
	width: 100%;
	padding-right: 52px;
	}

.career-form-group{
	float:left;
	width:100%;
	padding-top: 28px;
	}
	.career-form-group span
	{
	    color:#000 !important;
	}
.career-form-group label{
	color:#fff;
	
	}
.career-form input{
	background:none;
	border:none;
	border:1px solid #000;
	float:left;
	width:100%;
	padding: 4px 0 9px;
	color:#000;
	padding:10px;
	}
.career-form  label{
	float:left;
	width:100%;
	text-transform:capitalize;
	}
	
.career-form select{
	background:none;
	border:none;
	border-bottom:1px solid #fff;
	float:left;
	width:100%;
	padding: 4px 0 9px;
	color:#ccc;
	width:100%;
	}
.career-form textarea{
	background:none;
	border:none;
	border-bottom:1px solid #fff;
	float:left;
	width:100%;
	padding: 4px 0 9px;
	outline:0 !important;
	min-height: 95px;
	
	
	}
.career-form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

.career-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #000;
}

.career-form ::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}
.upload-resume {
    width: 100%;
    position: relative
}

.upload-resume input[type="file"],
.upload-resume i {
    right: 0;
    float: right;
    width: 125px;
    height: 50px;
    position: absolute
}

.upload-resume input[type="file"] {
    opacity: 0;
    z-index: 100;
    cursor: pointer
}

.upload-resume i {
    font: 300 13px "Roboto";
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
   
    color: #000;
    z-index: 10;
    border: 1px solid transparent
}
.career-submitnew{
background: #000;
  color: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  transition: 0.6s;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;

	}
	.career-submitnew:hover
	{
	    text-decoration:none;
	    color:#fff;
	}
.career-submit:hover{
	transition:0.6s;
	background: #fff;
	color:#1f4756;
	}
	.contact-form
	{
	    
	}
	.secpad
	{
	    padding-top:0px !important;
	}
	.contact-form span{
  float: left;
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 18px;
  padding-bottom: 25px;
}
/*-----career----*/
.contact-text {
display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 50px;
}
.contact-text h4 {
  color: #000;
  font-size: 25px;
  font-weight: normal;
}
.genaral-box a {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  color: #000;
}
.genaral-box a::after, .genaral-box a::before {
  bottom: 0.1em;
  content: "";
  display: block;
  position: absolute;
  transform: none;
  transition: transform 1.5s cubic-bezier(.19,1,.22,1);
  width: 100%;
  border-bottom: 1px solid #022d42;
}

.genaral-box a::before {
  left: -100%;

}
.genaral-box a {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  color: #000;
}
.genaral-box h5 {
  font-size: 17px;
  font-weight: normal;
  color: #000;
  margin-bottom: 0;
  padding-top: 20px;
}
.genaral-box a::before {
  left: -100%;
}
.genaral-box a:hover::before {
  transform: translate3d(100%,0,0);
}

/*------end----*/
/* -------------------------------- News -------------------------------- */
.news-cols{
  border-radius: 12px;
  border: 1px solid #000;
  margin-top: 40px;
  padding: 20px;
}
.news-cols img{
  border-radius: 12px;
}
.news-date{
  margin: 20px 0;
  font-size: 15px;
  color: #000;
  font-family: var(--medium);
}
.news-cols h4{
  color: #000;
  font-size: 20px;
  font-family: var(--medium);
  margin-bottom: 20px;
}
.news-cols p{
  color: #000;
  font-size: 15px;
}
.news-cols a{
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  font-family: var(--medium);
  color: var(--primarycolor);
  margin-top: 15px;
  transition: var(--ani);
}
.news-cols a:hover{
  color: var(--secondarycolor);
}
.recurring {padding-bottom: 60px;padding-top: 60px;}
.recurring h4 {font-size: 28px;font-weight: 600; padding-bottom: 20px;padding-top: 60px;}
.recurring h1 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 60px;
}
.recurring p{font: normal normal normal 16px/26px Arial;text-align: left;}

@media(max-width:991px)
{
 .recurring
 {
     padding-top:0px;
 } 
 .testimonial-bg h3
 {
     font-size:25px;
 }  
}
/*----------End-----------*/
/*------------------------------Downloads----------------------------------*/	
.down-beauty
{
  padding-top:30px;
}
.download {
    -webkit-box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    background:#396e3a  none repeat scroll 0% 0%; transition: background 0.8s ease-in 0s;
    padding:32px;
    margin-top:10px;
    min-height: 85px;
    text-align:center;
     border-radius: 10px;
     
   
}
.download a 
{
    color:White;
}
.downloadBg
{
    background-color:#EB3939;
    min-height:500px;
}

.head-style
{
    text-align:center;
    font-size:50px;
    color:#0e0e10;
   
}
.download-margin
{
 margin-top:15px;   
}
.brnches-main{
  background: url(../images/branch-bg.png) no-repeat; 
  background-size: cover;
  background-color: #F4F4F4;
  
}


.downpadding
{
    padding-bottom: 40px !important;
}
.downlopadding
{
    padding-top: 30px;
}
.downimgs
{
    padding-left:95px;
}
.donwhead
{
    padding-left: 10px;
color: #000;
padding-top: 5px;
}
.down-box .downld-bx a
{
    text-decoration:none;
}
.down-box .downld-bx a:hover
{
    text-decoration:none;
}
.down-box .downld-bx p
{
    text-decoration:none;
}
.down-box .downld-bx p:hover
{
    text-decoration:none;
}
.dwnclr
{
    color:#fff;
    text-decoration:none !important;
}
.monthly-bx {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5e5e5e;
    color: #fff;
    padding: 30px 15px;
    min-height: 90px;
max-height: 90px;
}
.down-box .downld-bx {
    display: flex;
    justify-content: center;
    background: #f77835;
    padding: 18px 15px;
    transition: 0.3s ease-in-out;
   align-items: center;
   margin-bottom: 24px;
border-radius: 0px 0px 8px 8px;
text-decoration: none;
  
   
}
.downsecpad
{
    padding:20px;
}
.down-box {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f0f0f0;
   
}
.downalig
{
    padding-top:25px;
}
.downimg
{
    border-radius: 50%;
 
  width: 25px;
  text-align: right;
  float:right;
 

}
.monthly-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9E1110;
  color: #fff;
  padding: 30px 15px;
  min-height: 65px;
  max-height: 65px;
}

/*------------end----------------*/
/*------------Branches----------*/
.netbac {
  background: #f77835;
  padding: 17px 10px;
  margin: 0;
  
}

.networkform .form-group {
  margin-bottom: 0px;
}
.networkform .form-group label {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}
.networkbtn input {
  background-color: #000;
  box-shadow: 0px 3px 6px #00000029;

  outline: none;
  color: #fff;
  padding: 10px 45px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  border: 1px solid #000;
  font-weight: 600;
}
.box-tab{
  padding: 20px 0;
  padding-right: 80%;

}
.networkbtn input:hover{
  background: #fff;
  border: 1px solid #30639b;
  color: #000;
}
.newEventsBgSecMian select.form-control:not([size]):not([multiple]){
  height: auto;
}
.sharethis-inline-share-buttons span 
{
    
 display:none !important;   
}
.st-btn
{
    min-width:50px !important;
}
.sharethis-inline-share-buttons
{
    margin-bottom:10px !important;
    padding-left: 40px !important;
    text-align:left !important;
}

.tab-content{display:block;}
.tab-content.current {
  display: inherit;
}
ul.tabs{
			margin: 0px 0 40px;
			padding: 0px;
			list-style: none;
			margin-left: -267px;
            /*max-width: 775px;*/
		}
		ul.networktab
		{
		    margin-left:0px;
		    justify-content: start;
		    margin-top:25px;
		}
		ul.tabs li{
			background: none;  
			color: #fff;
			display: inline-block;
			padding: 0px 25px;  font-size:16px;
			cursor: pointer; text-transform:uppercase;
			background:none;
			height:auto;
			font-weight: 300;
		}
		ul.tabs li:hover
		{
		    background:none;
		}

		ul.tabs li.current{ border:1px #fff solid;background:none;
			color: #fff; text-transform:uppercase;
		}

		.tab-content{
			display: block;

		
		}

		.tab-content.current{
			display: inherit;
		}
		
.searchbtn::placeholder {
  color: #2f33a8;
  opacity: 1; /* Firefox */
}

.searchbtn:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

.searchbtn::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}
.carrerBgSec1{ padding-top:80px;}
.branchesWhiteBg:hover{ }
.branchesWhiteBg:hover p{ color:#000}
.branchesWhiteBg:hover label{ color:#000}
.branchesWhiteBg:hover span{ color:#000}
.branchesWhiteBg:hover h3{ color:#2b2fa7}
.branchesWhiteBg span{ position:absolute; left:0; top:0; color:#000; font-weight:normal; font-size:15px;}
.branchesWhiteBg p{ padding-left:70px; color:#000;  font-size:15px;   position:relative; margin-bottom: 1px !important;}
.branchesWhiteBg label{ font-size:15px; margin-bottom:40px; font-weight:normal;   color:#000; line-height:27px;; margin-bottom:20px;}
.branchesWhiteBg h3{
  font-size: 22px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.branchesWhiteBg{ -moz-transition:.4s; -webkit-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;
    padding: 20px 20px; margin-bottom:5px;position: relative;border-bottom: 1px solid #cfcfcf !important;
}
.networkform select {
  padding: 10px;
  padding-right: 40px;
  font-size: 14px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E) !important;
  background-repeat: no-repeat, repeat !important;
  background-position: right 20px top 50%, 0 0 !important;
  background-size: .65em auto, 100% !important;
  color: #000;
}
.networkform .form-control{
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
 border: 1px solid #000;
  padding: 10px 15px;
  border-color: transparent;
  color: #000;
}
.networkform select::-ms-expand {
  display: none;
} 
.networkform input::placeholder{
  color: #000 !important;
  font-size: 14px !important;
  font-weight: normal !important;
}
.branchnew-btn
{
    padding-top:0px !important
}
/* .branch-btn
{
   display: flex;
  justify-content: left;
} */
.branchnew-btn a{
  cursor: pointer;
  background: #000;
  color: #fff !important;
  text-align: center;
  padding: 10px 25px;
  
  transition: 0.5s;
  font-size: 15px;
}
.branchnew-btn a:hover{
  background: #2d31a5;
  transition: 0.5s;
}
.border-lhead
{
    background-color:#000;
    margin-bottom:20px;
    
    padding:10px 20px;
}
.border-lhead h3
{
    color:#fff;
    font-size:22px;
    font-weight:500;
    margin:0px;
}

.border-div
{
   border: 1px solid #cfcfcf;
    padding:5px;
    border-radius:10px;
    padding-left: 0;
  padding-right: 0;
    
}
.tabs__list {
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1px;
  position: relative;
  z-index: 1; margin-bottom:90px
}
.tabs__list:after {
  clear: both;
  content: '';
  display: block;
}
.tabs__list > li {
  display: inline;
}
.tabs__list > li label {


  color: #fff;
  cursor: pointer;  
  float: left; font-size:18px; 
  font-weight: bold;
  height: 40px;
  line-height: normal;
  padding: 3px 30px 0;
  position: relative;  display: flex;
-webkit-display: flex;
-ms-display: flex;
justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;
align-items: center;
-webkit-align-items: center;
-ms-align-items: center; text-decoration:none; outline:none;
}
.tabs__list > li:hover label { 
}
.tabs__radio:nth-of-type(1):checked ~ .tabs__list > li:nth-of-type(1) label, .tabs__radio:nth-of-type(2):checked ~ .tabs__list > li:nth-of-type(2) label, .tabs__radio:nth-of-type(3):checked ~ .tabs__list > li:nth-of-type(3) label, .tabs__radio:nth-of-type(4):checked ~ .tabs__list > li:nth-of-type(4) label, .tabs__radio:nth-of-type(5):checked ~ .tabs__list > li:nth-of-type(5) label {
  background:none; border:1px #fff solid; color:#fff; 
  height: 40px;
  margin-bottom: -1px;
  margin-top: 0; text-decoration:none; outline:none;
}
/* IE8 fallback */
.tabs__list > li .tabs__list--active {
  background: #FFFFFF;
  height: 21px;
  margin-bottom: -1px;
  margin-top: 0;
}

.tabs__container > .tabs__panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 12px;
  height: 0;
  margin: 0; display:inline;

  vertical-align: top;
  white-space: normal;
  width: 100%;
}
.tabs__radio:nth-of-type(1):checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: 0;
}
.tabs__radio:nth-of-type(2):checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -100%;
}
.tabs__radio:nth-of-type(3):checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -200%;
}
.tabs__radio:nth-of-type(4):checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -300%;
}
.tabs__radio:nth-of-type(5):checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -400%;
}
/* IE8 fallbacks */
.tabs__radio--checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: 0;
}
.tabs__radio + .tabs__radio--checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -100%;
}
.tabs__radio + .tabs__radio + .tabs__radio--checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -200%;
}
.tabs__radio + .tabs__radio + .tabs__radio + .tabs__radio--checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -300%;
}
.tabs__radio + .tabs__radio + .tabs__radio + .tabs__radio + .tabs__radio--checked ~ .tabs__container > .tabs__panel:first-child {
  margin-left: -400%;
}
.tabs__radio:nth-of-type(1):checked ~ .tabs__container > .tabs__panel:nth-child(1),
.tabs__radio:nth-of-type(2):checked ~ .tabs__container > .tabs__panel:nth-child(2),
.tabs__radio:nth-of-type(3):checked ~ .tabs__container > .tabs__panel:nth-child(3),
.tabs__radio:nth-of-type(4):checked ~ .tabs__container > .tabs__panel:nth-child(4),
.tabs__radio:nth-of-type(5):checked ~ .tabs__container > .tabs__panel:nth-child(5) {
  height: auto;
}
/* IE8 fallback */
.tabs__container > .tabs__panel--active {
  height: auto;
}
.branchesHeaderMain{ text-align:left!important; color:#fff!important;}
.branchesHtmlMain:before{ position:absolute; right:0; top:235px;  width:459px; height:1153px; content:""  }
.branchesHtmlMain{background: #FF8001; background-size:cover !important; position:relative;width:100% !important}
.newImgPosition{ position:absolute; left:0; bottom:0;}
.cloudPositionI{ position:absolute; left:100px; top:270px;}
.cloudPosition2{ position:absolute; right:100px; top:670px;}
.maxWidthNewAllMain1{ max-width:980px; margin:0 auto;}
.newWrapperBgSec{ background: rgb(244,246,246);
background: linear-gradient(0deg, rgba(244,246,246,0.5830707282913166) 0%, rgba(255,255,255,0.41780462184873945) 88%); padding:70px; text-align:center; position:relative; margin-bottom:40px;}
.newWrapperBgSec:before{ position:absolute; top: -24px;
left: 70px; content:""; width:23px; height:46px; background:url(../images/news-updates-icon.png) no-repeat; }
.newWrapperBgSec p{ color:#4b4f58; line-height:30px; font-size:17px; margin-bottom:70px;}
.newWrapperBgSec span{ display:block; color:#4b4f58; font-size:14px; text-align:left; text-transform:uppercase;  font-weight:normal;}
.newWrapperBgSec a{ display:block; color:#203367; font-size:15px; text-align:right; text-transform:uppercase;
  font-weight:bold;}
 .newWrapperBgSec a:hover{ letter-spacing:2px;}
.subMainHeaderall{ text-align:center; color:#203367; font-size:45px;  font-weight:normal; margin-bottom:15px; }
.newEventsBgSecMian{ background: #fff; padding:27px 0px 27px; overflow:hidden; position:relative; }
.breadCrumb{ margin: 20px 0 0px;
padding-right: 130px;
width: 100%;
text-align: right;}
.breadCrumb li{ display:inline-block; position:relative; color:#fff; font-size:14px; font-weight:normal; padding:0 14px; 
text-transform:uppercase}
.breadCrumb li:last-child{ padding-right:0;}
.breadCrumb li:before{ position:absolute; left:-3px; top:5px; content:""; background:#f9c35f; width:1px; height:10px;}
.breadCrumb li:first-child:before{ background:none;}
.breadCrumb a{ color:#fff; font-weight:normal; font-size:14px; text-transform:uppercase}
.breadCrumb a:hover{color:#1c2e4d;}
.subBannerTxtMain{ position:absolute; left:0; bottom:40px; width:94%}
.subBannerTxtMain h1{ color:#fff; font-size:45px; font-family: 'DMSerifTextRegular'; font-weight:normal;   }
 .loginsubWrapperMain{ background:#f4f6f6!important;}
.subBannerSecMain{  float: left;
clear: both;
width: 100%;
position: relative;
overflow: hidden; padding-top: 17px;
}
.headerbannerSubMain{ background:#f4f6f6!important;}
.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}



.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.panel-body {
    padding: 0px; background:none; 
}
.panel-heading{ padding:0px; color:#fff}
.panel-heading a{background: #203367;
padding: 20px;
width: 100%;
display: block;
color: #fff;}
.panel{ background:none; border:none;}
.panel-default > .panel-heading{ background:none;}
.panel-group .panel-heading + .panel-collapse > .panel-body{border:none;}
.mobileLinkDivmian{ display:none!important;}
.branchesSecBgMobile h3{position: relative;
z-index: 1000;
color: #fff;
font-family: 'DMSerifTextRegular';
font-weight: normal;
font-size: 40px;
margin-bottom: 56px;}
.branchesSecBgMobile{ display:none; overflow: hidden;
padding: 120px 0px;
background-attachment: fixed; background:url(../images/bg-sec1.jpg) no-repeat; background-size:cover;
position: relative;}
.branchesSecBgMobile h2{-moz-transition: .4s;
-webkit-transition: .4s;
-ms-transition: .4s;
-o-transition: .4s;
transition: .4s;
font-size: 35px;
font-family: 'DMSerifTextRegular';
font-weight: normal;
text-transform: uppercase;
color: #fff;
margin-bottom: 5px; }
.branchesSecBgMobile  p{-moz-transition: .4s;
-webkit-transition: .4s;
-ms-transition: .4s;
-o-transition: .4s;
transition: .4s;
letter-spacing: 4px;
color: #fff;
font-size: 15px;
font-weight: normal;
text-transform: uppercase;
text-transform: uppercase;
margin-bottom: 10px;
}
.branchesSecBgMobile a{-moz-transition: .4s;
-webkit-transition: .4s;
-ms-transition: .4s;
-o-transition: .4s;
transition: .4s;
position: relative;


color: #fff;
font-size: 16px;
font-weight: normal;}
.branchesSecBgMobileBg1{ background:#7e9d3d; padding:20px; text-align:center}
.branchesSecBgMobileBg2{ background:#fcb715; padding:20px; text-align:center}
.branchesSecBgMobileBg3{ background:#1d9fd9; padding:20px; text-align:center}
.well {
    min-height: 20px; display:block!important;
    padding: 0px;
    margin-bottom: 20px;

    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 100%;
    left: 0;
    height: 100vh;
    top: -200px;
}
.counter-value2{text-align: center;
display: flex;
-moz-align-items: center;
-webkit-align-items: center;
align-items: center;
-moz-justify-content: center;
-webkit-justify-content: center;
justify-content: center;
font-size: 60px;
 font-family: 'DMSerifTextRegular';
color: #fff;}
.counter-value2 span{ font-size:30px; font-weight:bold;  font-family: 'DMSerifTextRegular';}
.openningHrWrapper{ position:relative; padding-right:33px}
.openningHrWrapperDiv{ position:absolute; right:0; top:0px; }
.branch-pad p
{
    padding-left:0px !important;
    
}
.branch-code
{
    text-align:center;
}
@media(max-width:767px)
{
   .current .col-6
   {
       max-width:100% ;
       flex: 0 0 100%;
   } 
   
}
@media(max-width:991px)
{
  .padd-sec{
    padding-left: 0;
    padding-right: 0;
  }
  .box-sec{
    margin: 15px 0;
  }
  .networkform select{
    font-size: 13px;
  }
  .networkbtn input{
    padding: 7px 30px;
    font-size: 14px;
  }
  .box-tab{
    padding: 15px 0;
  }
  .networkform input::placeholder{
    font-size: 13px;
  }
  .branchesWhiteBg{
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
  }
  .branchesWhiteBg h3{
    padding-bottom: 5px;
    font-size: 20px;
  }
  .border-div{
    border: none;
  }
  .branchesWhiteBg span{
    font-size: 14px;
  }
  .branchesWhiteBg p{
    font-size: 14px;
    padding-left: 55px;
  }
  .branchnew-btn a{
    font-size: 14px;
  }
  .branchesWhiteBg .row{
    margin: 0;
  }
  .branchesWhiteBg p{
    margin-bottom: 10px !important;
  }
  .networkform .form-group label{
    font-size: 14px;
  }
  .border-lhead
   {
       display:none;
   }  
   .branch-btn {
  display: block !important;
}
   .branch-btn a
   {
       display: inlilne-block;
       margin: 10px 0;
   } 
}
/*----------------End--------------*/
/* policy */
.policy-banner img{
   border-radius: 30px;
}
.anuval-box {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f0f0f0;
  margin-bottom: 25px;
}
.monthy-bx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: -8px 1px 13px #00000029;
  color: #000;
  padding: 25px 15px;
  position: relative;
}
.monthy-bx::after {
  position: absolute;
  content: '';
  width: 320px;
  height: 3px;
  background: #f77835;
  right: 0;
  bottom: 0;
}
.monthy-bx::before {
  position: absolute;
  content: '';
  width: 320px;
  height: 3px;
  background: #000;
  left: 0;
  bottom: 0;
}
.anuval-box a{
  text-decoration: none;
  color: #000;
  font-weight: normal;
}
.view-pdf{
  display: flex;
  align-items: center;
}
.view-pdf h6{
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  color: #000;
  padding-right: 15px;
}
.policy-pdf h4{
  color: #000;
  font-size: 33px;
  text-align: center;
  font-weight: 500;
  font-family: 'Frutiger45LightBold';
  padding-bottom: 10px;
}
.monthy-bx h5{
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: normal;
}
.anuval-bg{
  background: #f6f6f6;
  padding-top:50px;
}
.enquriy-from{
  background: #fff;
  padding: 30px;
  margin: 0 75px;
  box-shadow: 0px 3px 6px #00000029;
}
.form-sec-box h4{
  color: #000;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 20px;
  position: relative;
}
.form-sec-box h4::after{
  position: absolute;
  content: '';
  background: #000;
  width: 110px;
  height: 2px;
  bottom: 12px;
  left: 0;
}
.form-sec-box .form-control{
   border-radius: 0;
   box-shadow: none;
   padding: 8px 15px;
   color: #000;
}
.form-sec-box input::placeholder{
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.form-sec-box select{
  color: #000 !important;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 11px !important;
}
.form-sec-box textarea::placeholder{
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
select.form-control:not([size]):not([multiple]){
  height: auto;
}
.form-sec-box .form-check-label{
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Frutiger45LightRegular';
  cursor: pointer;
}
.form-sec-box .form-check-input{
  margin-top: 6px;
  cursor: pointer;
}
.form-sec-box .form-check{
  margin-bottom: 30px;
  cursor: pointer;
}
.enquriy-btn a{
  display: block;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.5s;
  padding: 8px 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Frutiger45LightRegular';
}
.enquriy-btn a:hover{
  background: #000;
 border-color: #ff0c91;
  color: #fff;
  transition: 0.5s;
}
.help-box{
  background: #000;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 20px 75px 0 75px;
}
.help-box h6{
  color: #ff8001;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.help-box h5{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.help-box a{
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  display: block;
}
.help-box i{
  color: #fff;
  font-size: 20px;
  padding-right: 5px;
}
.policy-pdf{
  padding: 0 50px;
}
/*----------End------------*/
/*----------------Faq-----------*/
/* faq-sec */
.bussines-img img {
  margin-top: -55px;
}
.faq-main
{
    padding-top:50px;
}
.all-btn a {
  color: #ff0c91;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid #ff8001;
  transition: 0.5s;
}

.all-btn a:hover {
  color: #000;
  border-color: #000;
  transition: 0.5s;
}

.all-btn {
  text-align: center;
  padding-top: 20px;
}

.business-text {
  background: #eeeced;
  border-radius: 35px;
  padding: 30px;
}

.business-text h4 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Frutiger45LightBold';
}

.business-text span {
  color: #ff8001;
}

.business-text p {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  padding-top: 30px;
}

.faq-content-sec {
  background: #f77835;
  
  padding: 30px;
}

.faq-content-sec .nav-tabs .nav-link {
  background: #575757;
  font-size: 14px !important;
  font-weight: 500;
 
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-family: 'Frutiger45LightBold';
  position: relative;
  padding-left: 35px;
  box-shadow: 0px 3px 6px #00000029;
}

.faq-content-sec .nav-tabs .nav-link::before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  background: #000;
  border-radius: 50%;
  left: 20px;
  top: 19px;
}

.faq-content-sec .nav-tabs {
  border-bottom: none;
  gap: 10px;
  margin-bottom: 0px;
}

.faq-content-sec .nav-tabs .nav-link.active {
  border: none;
  background: #000;
  color: #fff;
  padding-left: 25px;
}

.faq-content-sec .nav-tabs .nav-link.active::before {
  display: none;
}

.faq-a {
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  padding: 10px 0px;
  border-radius: 19px;
  position: relative;
  color: #ff8001 !important;
  text-align: left;
  text-decoration: none !important;
  font-weight: 500;
  font-family: 'Frutiger45LightBold';
}

.faq-box .card {
  background: none;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #bfbfbf;
  border-radius: 0;
}

.faq-box .card:last-child {
  border-bottom: none;
}

.faq-a.collapsed::after {
  content: "";
  background: url(../images/faq-icon-2.png) no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  transition: 0.5s;
}

.faq-a::after {
  position: absolute;
  content: "";
  background: url(../images/faq-icon-1.png) no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  right: 0;
  top: 14px;
  right: 0px;
  transition: 0.5s;
}
.faq-a
{
    color:#fff !important;
}

.faq-box
{
    padding:20px;
}
/*----------------End--------------*/
/*---------------gallery-------------------*/

.gallery-bg{
	background:url(../images/gallery.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	
	width:100%;
	padding: 42px 0;
	}
.gallery-img-rea img{
	
	cursor: pointer;
	transition:0.9s;
}
.gallery-img-rea img:hover{
	 transform: scale(0.93);
	 transition:0.9s;
	}
.coverflow {
  position: relative;
  height: 460px;
  padding: 30px;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.nine.columns{
	width: 100%;
}

.coverflow__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 600px;
  height: 400px;
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coverflow__image[data-coverflow-index] {
  position: absolute;
  left: 43%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
  content: " ";
  z-index: 1;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 10%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 5;
  -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
  transform: translateX(370px) scale(0.05) rotateY(-45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 4;
  -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 3;
  -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
  transform: translateX(550px) scale(-0.25) rotateY(-45deg);
  opacity: -0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 2;
  -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
  transform: translateX(640px) scale(-0.4) rotateY(-45deg);
  opacity: -0.66667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 1;
  -webkit-transform: translateX(730px) scale(-0.55) rotateY(-45deg);
  transform: translateX(730px) scale(-0.55) rotateY(-45deg);
  opacity: -0.83333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 5;
  -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
  transform: translateX(370px) scale(0.05) rotateY(-45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 4;
  -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 3;
  -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
  transform: translateX(550px) scale(-0.25) rotateY(-45deg);
  opacity: -0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 2;
  -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
  transform: translateX(640px) scale(-0.4) rotateY(-45deg);
  opacity: -0.66667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 5;
  -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
  transform: translateX(370px) scale(0.05) rotateY(-45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 4;
  -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 3;
  -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
  transform: translateX(550px) scale(-0.25) rotateY(-45deg);
  opacity: -0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 5;
  -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
  transform: translateX(370px) scale(0.05) rotateY(-45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 4;
  -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  transform: translateX(460px) scale(-0.1) rotateY(-45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 5;
  -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
  transform: translateX(370px) scale(0.05) rotateY(-45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 5;
  -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
  transform: translateX(-770px) scale(0.05) rotateY(45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 4;
  -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 5;
  -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
  transform: translateX(-770px) scale(0.05) rotateY(45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 3;
  -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
  transform: translateX(-950px) scale(-0.25) rotateY(45deg);
  opacity: -0.5;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 4;
  -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 5;
  -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
  transform: translateX(-770px) scale(0.05) rotateY(45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 2;
  -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
  transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
  opacity: -0.66667;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 3;
  -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
  transform: translateX(-950px) scale(-0.25) rotateY(45deg);
  opacity: -0.5;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 4;
  -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 5;
  -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
  transform: translateX(-770px) scale(0.05) rotateY(45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 1;
  -webkit-transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
  transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
  opacity: -0.83333;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 2;
  -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
  transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
  opacity: -0.66667;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 3;
  -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
  transform: translateX(-950px) scale(-0.25) rotateY(45deg);
  opacity: -0.5;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 4;
  -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  transform: translateX(-860px) scale(-0.1) rotateY(45deg);
  opacity: -0.33333;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 5;
  -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
  transform: translateX(-770px) scale(0.05) rotateY(45deg);
  opacity: -0.16667;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="6"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="7"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="8"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="9"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="10"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.prev-arrow,
.next-arrow {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  padding: 1.5rem 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  line-height: 3rem;
  background: transparent;
  border-radius: 1rem;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 200ms, background 200ms;
  transition: color 200ms, background 200ms;
}

.prev-arrow:hover,
.next-arrow:hover,
.prev-arrow:focus,
.next-arrow:focus {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.5);
}

.prev-arrow {
  left: 0%;
  z-index: 99;
  color: #fff !important;
}

.prev-arrow:before {
  content: "❮";
}

.next-arrow {
  right: 0%;
  color: #fff !important;
}

.next-arrow:after {
  content: "❯";
}
.gallery-modal-dialoge {
    width: 90%;
    max-width: 90%;
}
.galley-modal-content{
	background: #267ac3;
	background-size: cover;
	
	}
.gallery-modal-header{
	border-bottom:none;
	}
.album-name{
	background: #646464;
	width: 100%;
	color: #fff;
	padding: 10px;
	left: 0;
}
.videosce
{
    padding-top:35px;
}
.album-name span
{
  font-size: 17px;
}
.gallery-image-div p
{
    font-size: 15px;
    text-align:justify;
    margin-bottom: 0;
  margin-top: 10px;
}
.gallery-image-div{
	position:relative;
	border-radius: 3px;
	margin-bottom:20px;}
.gallery-tab{
	float:left;
	width:100%;
	padding-bottom:30px;     
	padding-top: 27px; 
	}
.gallery-tab ul li{
	float:left;
	margin-right:20px;
	cursor:pointer;
	padding: 6px 34px;
	color: #fff;
	font-size: 17px;
	border-radius: 6px;
	}

.tab-active{
	background:#ccc;
}
#tab-image{
	background: #ed2e61;
	}
#tab-video{
	background: #1f4756;
	}
.video-area{
	display:none;
	}
.photopadd
{
    padding-top:5px;
}
.sec-photo
{
    padding:50px;
}
@media(max-width:991px)
{
 .photopadd
{
    padding-top:0px;
}  
.secpad
{
    padding-top: 0px !important;
}
 
}

/*-------------End-----------*/

/* ------Board of directors ---------------*/
.board-img a:hover
{
    text-decoration:none;
}
.boarddet-new
{
    
}
.board-sec {
  background: #f6f6f6;
 padding-top:5%;
}

.bord-titil h3 {
  font-size: 45px;
  font-weight: 500;
  color: #000;
  position: relative;
}

.bord-titil h3::before {
  position: absolute;
  content: "";
  background: #000;
  width: 1px;
  height: 100px;
  right: 0;
  top: 0;
}

.bord-text p {
  font-size: 16px;
  color: #000;
  font-weight: normal;
  margin: 0;
  text-align: justify;
}

.board-names {
  background: #3a3a3a;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 3px 2px #00000029;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.board-img {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.board-names h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.board-names h6 {
  color: #fff;
  font-family: "Lufga";
  font-size: 20px;
  margin: 0;
}

.board-bg {
  background: #f6f6f6;
  padding: 5% 5% 0 5%;
}

.name-social {
  position: absolute;
  top: 60px;
  right: -50px;
  z-index: 9;
  transition: all 0.3s ease-in-out;
}

.board-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(#14097a85, rgba(0, 0, 0, 0) 100%);
  display: none;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

.board-img:hover::after {
  display: block;
  transition: all 0.3s ease-in-out;
}

.board-img:hover .name-social {
  display: block;
  transition: 0.5s;
}

.board-img:hover .name-social {
  right: 20px;
}
.name-social li {
  list-style: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name-social li:last-child {
  margin-bottom: 0;
}

.name-social a {
  color: #1a2228;
  font-size: 15px;
  text-decoration: none;
}

.name-social img {
  border-radius: 0;
  width: 12px;
}

.goldloanwrapper {
  padding: 60px 0;
}

.goldloanboxx {
  background: #F5F5F5;
  padding: 20px 0;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
}

.goldloanwrapper h1 {
  font-family: 'Frutiger45LightBold';
  text-transform: capitalize;
  font-size: 35px;
  text-align: center;
  color: #14097a;
  padding-bottom: 20px;
}

.why {
  padding-top: 30px;
}

.goldloanboxx h6 {
  padding-top: 10px;
  font-family: 'Frutiger45LightRegular';
}

.goldloanboxx img {
  height: 60px;
}
.recurring {padding-bottom: 60px;padding-top: 60px;}
.recurring h4 {font-size: 28px;font-weight: 600; padding-bottom: 20px;padding-top: 60px;}
.recurring h1 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 60px;
}
.recurring p{font: normal normal normal 16px/26px Arial;text-align: justify;}

@media(max-width:991px)
{
 .recurring
 {
     padding-top:0px;
 } 
}
/*---------End----------*/