// #sidebar {
//   height: 100vh;
//   background-color: #343a40;
//   padding-top: 20px;
// }

// #sidebar .nav-link {  
//   color: #fff;
// }

// #sidebar .nav-link:hover {
//   background-color: #495057;
// }

// /* Submenu styles */
// .submenu {
//   display: none;
//   padding-left: 15px;
// }

// .nav-item.active .submenu {
//   display: block;
// }


/* my-component.component.css */
// @import url('assets/login/css/style.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar1 {
    display: none; /* Hide by default */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8fcff;
    color: black;
  }
  
  .navbar-brand1 {
    font-size: 1.5rem;
  }
  
  .menu-icons1 {
    display: none; /* Hide by default */
    align-items: center;
  }
  
  .menu-icon1 {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .settings-dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .settings-icon1 {
    background: none;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Dropdown Content */
  .dropdown-content1 {
    display: none;
    position: absolute;
    right: 0;
    background-color: #e9ecef;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99999;
  }
  
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {
    background-color: white;
  }
  
  /* Show dropdown on hover */
  .settings-dropdown1:hover .dropdown-content1 {
    display: block;
  }
  
  /* Show navbar and menu items only on mobile */
  @media (max-width: 768px) {
    .navbar1,
    .menu-icons1 {
      display: flex;
    }   

    .container-fluid{
        display: none;
    }
  }
  
  
  