
  <!-- <body> -->
    <!-- partial:index.partial.html -->
    <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
      <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
      <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
  
        <div class="logomalabar">
          <img src="assets/images/icon.png" width="300px" height="150px" alt="">
        </div>
      </div>
  
      <!-- <div class="search position-relative text-center px-4 py-3 mt-2"> -->
        <!-- <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here"> -->
        <!-- <i class="fa fa-search position-absolute d-block fs-6"></i> -->
      <!-- </div> -->
      <ul class="categories list-unstyled my-2">
        <li class="has-dropdown  text-white" *ngFor="let item of MenuGroupsList; let i = index" (click)="singlesidemenu(i)">
          <i [class]="item.icon"></i> <!-- Bind the icon class correctly using [class] -->
          <a class="cpoint">{{ item.tabname }}</a>
          <!-- Nest the second *ngFor correctly and bind id dynamically with attribute binding -->
          <ul class="sidebar-dropdown list-unstyled text-white" [attr.id]="'subheadact' + i">
            <li *ngFor="let it of item.submenus" (click)="NavigateTo(it.tablink)">
              <a class="cpoint">{{ it.tabname }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="categories list-unstyled my-2">
        <li class="has-dropdown  text-white"   *ngIf="mode === 'Transaction'" (click)="singlesidemenu(6)">
          <i class="fa fa-file"></i> <!-- Bind the icon class correctly using [class] -->
          <a class="cpoint">Transaction</a>
          <!-- Nest the second *ngFor correctly and bind id dynamically with attribute binding -->
          <ul class="sidebar-dropdown list-unstyled text-white" id="subheadact6">
            <li  (click)="NavigateTo('credit-bill-settlment')">
              <a class="cpoint" > Credit Bill Settlement</a>
            </li>
             <li  (click)="NavigateTo('stock-adjustment')">
              <a class="cpoint" > Stock Adjustment</a>
            </li>
          </ul>
        </li>

        <li class="has-dropdown  text-white"  *ngIf="mode === 'Reports'"  (click)="singlesidemenu(7)">
          <i class="fa fa-file"></i> <!-- Bind the icon class correctly using [class] -->
          <a class="cpoint">Report</a>
          <!-- Nest the second *ngFor correctly and bind id dynamically with attribute binding -->
          <ul class="sidebar-dropdown list-unstyled text-white cpoint" id="subheadact7">
            <li  (click)="NavigateTo('sales-status')">
              <a class="" > Analysis Report</a>
            </li>
            <li  (click)="NavigateTo('creditbill-report')">
              <a class="" > Credit Bill Settelment Report</a>
            </li>
            <li  (click)="NavigateTo('item-sales')">
              <a class="" > Item Sales Report</a>
            </li>
            <li  (click)="NavigateTo('customer-sales-report')">
              <a class="" > Customer Sales Report</a>
            </li>
            <li  (click)="NavigateTo('item-group-report')">
              <a class="" >Item Group Report</a>
            </li>
            <li  (click)="NavigateTo('oneparty-allitem-report')">
              <a class="" >One Party All Item Report</a>
            </li>
            <li  (click)="NavigateTo('oneitem-all-party-report')">
              <a class="" >One Item All Parties Report</a>
            </li>
            <li  (click)="NavigateTo('profit-report')">
              <a class="" >Profit Report</a>
            </li>
            <li  (click)="NavigateTo('customer-aging-report')">
              <a class="" >Customer Ageing Report</a>
            </li>
            <li  (click)="NavigateTo('supplier-ageing-report')">
              <a class="" >Supplier Ageing Report</a>
            </li>
          </ul>
        </li>
      </ul>
      
  
  
    </aside>

    <section  id="wrapper">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid mx-2">
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar"
              aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="uil-bars text-white"></i>
            </button>
            <a class="navbar-brand"  ><span class="main-color"></span></a>
          </div>
          <div class="collapse navbar-collapse" id="toggle-navbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"   id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Settings
                </a>
          
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!-- <li>
                    <a class="dropdown-item"  >My account</a>
                  </li>
                  <li><a class="dropdown-item"  >My inbox</a>
                  </li>
                  <li><a class="dropdown-item"  >Help</a>
                  </li>-->
                  <!-- <li> 
                    <hr class="dropdown-divider cpoint">
                  </li> -->
                  <li><a class="dropdown-item cpoint" (click)="LogOut()" >Log out</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link"  ><i class="uil-comments-alt"></i><span>23</span></a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link"  ><i class="uil-bell"></i><span>98</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link cpoint"  >
                  <i data-show="show-side-navigation1" (click)="toggleSidebar()"  class="fas fa-bars show-side-btn"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <nav class="navbar1">
        <div class="navbar-brand1"></div>
        <div class="menu-icons1">
          <div class="settings-dropdown1 mx-2">
            <button class="settings-icon1">⚙️</button>
            <div class="dropdown-content1">
              <!-- <a href="#">Profile</a>
              <a href="#">Settings</a> -->
              <a (click)="LogOut()" >Logout</a>
            </div>
          </div>
           <i class="mx-2 h4" (click)="toggleSidebar()" class="h2 fas fa-bars show-side-btn"></i> 

        </div>
      </nav>
      
      

      <!-- <div class="p-4 welwrapper"> -->
        
      <router-outlet></router-outlet>
      <!-- </div> -->
    </section>
  
    <!-- partial -->
   
<!--   
  </body> -->
<!-- </div> -->
